.icon {
  align-items: center;
  display: inline-flex;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.node {
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
}

.node:hover {
  background-color: color-mix(in srgb, var(--text-color) 5%, transparent);
}

.node:global(.isSelected), .node:global(.isSelected):hover {
  background-color: color-mix(in srgb, var(--text-color) 15%, transparent);
  font-weight: 600;
}
